html {
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
}

h1, h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 1.7 ;
}

span {
    color: hsl(277, 64%, 61%);
}


.img-fluid {
    background-size: contain;
    height: auto;
    border-radius: 0px 10px 10px 0;
    content:url("./img/waves-waves.svg");
    filter: opacity(0.5) drop-shadow(0 0 0 hsl(277, 64%, 61%)) saturate(230%);
}



.attribution { color:hsl(0, 0%, 100%);  font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }





